<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/eui.css">
    <title>重邮综合线上管理平台</title>
    <style>
        .el-menu-vertical-demo:not(.el-menu--collapse) {
            width: 200px;
            min-height: 400px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="background-color: #0095d7">
            <h1 style="font-size: 22px; color: white;">
                欢迎来到重邮线上管理系统
                <span style="float: right; font-size: 18px">欢迎{{name}}登录管理
                    <a href="login.html">退出登录</a>
                </span>
            </h1>
        </el-header>
        <el-container><!--管理系统container-->
            <el-aside><!--管理系统的侧边栏-->
                <el-menu class="el-menu-vertical-demo" @select="menuchange"><!--菜单栏menu-->
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-user-solid"></i><!--i标签就是图标标签-->
                            <span>学生管理</span>
                        </template>
                        <!--template这个标签里面填我们需要渲染的东西-->
                        <el-menu-item index="1-1">学生名单</el-menu-item>
                        <el-menu-item index="1-2">添加学生</el-menu-item>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-s-goods"></i><!--i标签就是图标标签-->
                            <span>商品管理</span>
                        </template>
                        <!--template这个标签里面填我们需要渲染的东西-->
                        <el-menu-item index="2-1">商品列表</el-menu-item>
                        <el-menu-item index="2-2">添加商品</el-menu-item>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title">
                            <i class="el-icon-message-solid"></i><!--i标签就是图标标签-->
                            <span>订单管理</span>
                        </template>
                        <!--template这个标签里面填我们需要渲染的东西-->
                        <el-menu-item index="3-1">订单信息</el-menu-item>
                        <el-menu-item index="3-2">查询订单</el-menu-item>
                    </el-submenu>
                    <el-submenu index="4">
                        <template slot="title">
                            <i class="el-icon-user"></i><!--i标签就是图标标签-->
                            <span>管理员信息</span>
                        </template>
                        <!--template这个标签里面填我们需要渲染的东西-->
                        <el-menu-item index="4-1">管理员列表</el-menu-item>
                        <el-menu-item index="4-2">添加管理员</el-menu-item>
                    </el-submenu>
                </el-menu>
            </el-aside><!--侧边栏结束-->
            <el-main><!--包含我们所有的表格-->
                <!--学生名单开始-->
                <el-table v-if="selectedindex=='1-1'" :data="student"><!--v-if代表他是选中1-1时data就是数据来源-->
                    <el-table-column type="index" label="编号" width="160"></el-table-column>
                    <el-table-column prop="idcard" label="学生学号" width="160"></el-table-column>
                    <el-table-column prop="username" label="学生姓名" width="160"></el-table-column>
                    <el-table-column prop="sex" label="学生性别" width="160"></el-table-column>
                    <el-table-column prop="password" label="学生密码" width="160"></el-table-column>
                    <el-table-column prop="phone" label="学生电话" width="160"></el-table-column>
                    <el-table-column prop="dormitory" label="学生宿舍" width="160"></el-table-column>
                    <el-table-column label="照片" width="160">
                        <template slot-scope="scope">
                            <img :src="scope.row.url" width="150px" alt="">
                        </template>
                    </el-table-column>
                    <!--prop是数据库对应的该字段的名字,而且实体类也必须和他一样-->
                    <el-table-column label="删除">
                        <template slot-scope="scope">
                            <!--scope代表每行对应的数据的index属性的下标，他有row的属性。可以直接把整个一行当作对象返回-->
                            <el-popconfirm @confirm="studentdelete(scope.$index,scope.row)" title="这段内容确定删除吗">
                                <el-button size="mini" type="danger" slot="reference">删除</el-button>
                            </el-popconfirm>
                        </template>
                    </el-table-column>
                </el-table>
                <!--商品表格开始-->
                <el-table v-if="selectedindex=='2-1'" :data="product"><!--v-if代表他是选中1-1时data就是数据来源-->
                    <el-table-column type="index" label="编号" width="160"></el-table-column>
                    <el-table-column prop="title" label="商品" width="160"></el-table-column>
                    <el-table-column prop="price" label="价格" width="160"></el-table-column>
                    <el-table-column prop="saleCount" label="销量" width="160"></el-table-column>
                    <el-table-column label="商品图片" width="160">
                        <template slot-scope="scope">
                            <img :src="scope.row.url" width="150px" alt="">
                        </template>
                    </el-table-column>
                    <!--prop是数据库对应的该字段的名字,而且实体类也必须和他一样-->
                    <el-table-column label="删除">
                        <template slot-scope="scope">
                            <!--scope代表每行对应的数据的index属性的下标，他有row的属性。可以直接把整个一行当作对象返回-->
                            <el-popconfirm @confirm="productdelete(scope.$index,scope.row)" title="这段内容确定删除吗">
                                <el-button size="mini" type="danger" slot="reference">删除</el-button>
                            </el-popconfirm>
                        </template>
                    </el-table-column>
                </el-table>
                <!--商品表格结束-->
                <!--订单表格开始-->
                <el-table v-if="selectedindex=='3-1'" :data="order"><!--v-if代表他是选中1-1时data就是数据来源-->
                    <el-table-column type="index" label="编号" width="160"></el-table-column>
                    <el-table-column prop="num" label="订单号" width="160"></el-table-column>
                    <el-table-column prop="title" label="商品" width="160"></el-table-column>
                    <el-table-column prop="username" label="学生姓名" width="160"></el-table-column>
                    <el-table-column prop="address" label="学生地址" width="160"></el-table-column>
                    <!--prop是数据库对应的该字段的名字,而且实体类也必须和他一样-->
                    <el-table-column label="删除">
                        <template slot-scope="scope">
                            <!--scope代表每行对应的数据的index属性的下标，他有row的属性。可以直接把整个一行当作对象返回-->
                            <el-popconfirm @confirm="orderdelete(scope.$index,scope.row)" title="这段内容确定删除吗">
                                <el-button size="mini" type="danger" slot="reference">删除</el-button>
                            </el-popconfirm>
                        </template>
                    </el-table-column>
                </el-table>
                <!--订单表格结束-->
                <!--管理员表格-->
                <el-table v-if="selectedindex=='4-1'" :data="admin"><!--v-if代表他是选中1-1时data就是数据来源-->
                    <el-table-column type="index" label="编号" width="160"></el-table-column>
                    <el-table-column prop="num" label="订单号" width="160"></el-table-column>
                    <el-table-column prop="title" label="商品" width="160"></el-table-column>
                    <el-table-column prop="username" label="学生姓名" width="160"></el-table-column>
                    <el-table-column prop="address" label="学生地址" width="160"></el-table-column>
                    <!--prop是数据库对应的该字段的名字,而且实体类也必须和他一样-->
                    <el-table-column label="删除">
                        <template slot-scope="scope">
                            <!--scope代表每行对应的数据的index属性的下标，他有row的属性。可以直接把整个一行当作对象返回-->
                            <el-popconfirm @confirm="admindelete(scope.$index,scope.row)" title="这段内容确定删除吗">
                                <el-button size="mini" type="danger" slot="reference">删除</el-button>
                            </el-popconfirm>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>
            <!--管理员-->
        </el-container>
    </el-container>
</div>
<script src="js/vue.js"></script>
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script>
    let v = new Vue({
        el: "#app",
        data: function () {
            return {
                selectedindex: "1-1",
                isCollapse: true,
                admin: [],
                student: [],
                product: [],
                order: [],
            }
        },
        methods: {
            menuchange(index) {
                if (index == "1-2") {
                    location.href = "/insertstudent.html"
                } else if (index == "2-2") {
                    location.href = "/insertproduct.html"
                } else if (index == "3-2") {
                    v.$prompt("请输入你要查询订单的学生姓名", "提示", {
                        confirmButtonText: "取消",
                        confirmButtonText: "确定"
                    }).then(function (object) {
                        let name = object.value;
                        if (name == null) {
                            v.$message.error("不能为空!")
                            return;
                        }
                        // axios.get("/category/insert?name=" + name).then(function (response) {
                        //     location.reload();
                        //})
                        location.href="search_order.html=" + name
                    }).catch(function () {
                        //如果不加.catch的化点取消的时候就会报错
                        console.log("取消了");
                    })
                } else if (index == "4-2") {
                    location.href = "/insertadmin.html"
                }
                else {
                    v.selectedindex = index;
                }
            },
            // handleOpen(key, keyPath) {
            //     console.log(key, keyPath);
            // },
            // handleClose(key, keyPath) {
            //     console.log(key, keyPath);
            // }
            studentdelete(index, student) {
                axios.get("/student/delete?id="+student.id).then(function () {
                    v.student.splice(index, 1);
                    //splice(下标,长度)表示从集合里面删除index下标这个元素
                })
            },
            orderdelete(index, order) {
                axios.get("/order/delete?id="+order.id).then(function () {
                    v.order.splice(index, 1);
                })
            },
            productdelete(index, product) {
                axios.get("/product/delete?id="+product.id).then(function () {
                    v.product.splice(index, 1);
                })
            },
            admindelete(index, product) {
                axios.get("/admin/delete?id="+admin.id).then(function () {
                    v.admin.splice(index, 1);
                })
            },
        },
        created: function () {
            // 页面一刷新，一创造就执行
            axios.get("/student/select").then(function (response) {
                v.student = response.data;
            })
            axios.get("/product/select1").then(function (response) {
                v.product = response.data;
            })
            axios.get("/order/select").then(function (response) {
                v.order = response.data;
            })
            axios.get("/admin/select").then(function (response) {
                v.admin = response.data;
            })
        }
    })
</script>
</body>
</html>