<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重邮小世界</title>
    <!-- 先清除在设置 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">


</head>  
<body>
<div id="app">
   <!-- 头部区域 -->
   <div class="header">
    <div class="wrapper">
        <!-- logo -->
        <div class="logo"><h1><a href="http://www.cqupt.edu.cn/">重邮小世界</a></h1></div>
        <!-- 导航 -->
        <div class="nav">
            <ul>
                <li><a href="index.html" class="active">首页</a></li>
                <li><a href="#">校园购</a></li>
                <li><a href="#">校园趣事</a></li>
            </ul>
        </div>
        <!-- 搜索 -->
        <div class="search">
            <input type="text" name="" id="" placeholder="请输入关键词" @keydown.enter="search()" v-model="wd">
            <input type="button" @click="search()" class="anniu">

        </div>
<!--            <a href="#"></a>-->
<!--        </div>-->
        <!-- 用户 -->
        <div class="user" v-model="users">
            <a :href="'/update.html?id='+users.id">
                <img :src="users.url" alt="" style="width: 30px;height: 30px;border-radius: 50%;">
                <span>{{users.username}}</span>
            </a>
        </div>
    </div>
   </div>
<!--    头部结束-->
   <div class="banner">

    <div class="wrapper">
        <div class="left">
            <ul>
                <li><a :href="'/shoppingcenter.html?type='+'数码电器'">数码电器</a></li>
                <li><a :href="'/shoppingcenter.html?type='+'家用百货'">家用百货</a></li>
                <li><a :href="'/shoppingcenter.html?type='+'零食'">零食</a></li>
                <li><a :href="'/shoppingcenter.html?type='+'服装'">服装</a></li>
                <li><a href="new.html">校园风云</a></li>
                <li><a href="video.html">搞笑视频</a></li>
                <li><a href="#">敬请期待...</a></li>
                <li><a href="#">敬请期待...</a></li>
                <li><a href="#">敬请期待...</a></li>
            </ul>
        </div>
        <div class="center">
            <!--轮播图开始-->
            <el-carousel height="420px">
                <el-carousel-item v-for="b in banner">
                    <img :src="b.url" style="width: 700px; height: 420px" alt="">
                </el-carousel-item>
            </el-carousel>
            <!--走马灯结束-->
        </div>
        <div class="right">
            <h3>猜你感兴趣</h3>
            <div class="content">
                <dl>
                    <dt>数码电器</dt>
                    <dd><span>热销中</span>-<strong>爱疯15</strong></dd>
                </dl>
                <dl>
                    <dt>零食</dt>
                    <dd><span>热销中</span>-<strong>芙蓉王</strong></dd>
                </dl>
                <dl>
                    <dt>服装</dt>
                    <dd><span>热销中</span>-<strong>背带裤</strong></dd>
                </dl>
                <a href="">全部热卖</a>
            </div>
        </div>
        
    </div>   
   </div>
   <!-- 精品推荐 -->
   <div class="recommend wrapper">
    <h3>精品推荐</h3>
    <ul>

        <li><a href="#aa">数码电器</a></li>
        <li><a href="#bb">家用百货</a></li>
        <li><a :href="'/shoppingcenter.html?type='+'零食'">零食</a></li>
        <li><a :href="'/shoppingcenter.html?type='+'服装'">服装</a></li>
        <li><a href="new.html">校园风云</a></li>
        <li><a href="video.html">搞笑视频</a></li>
        <li><a href="">未开放</a></li>
        <li><a href="">未开放</a></li>
        <li><a href="">未开放</a></li>
    </ul>
    <a href="" class="modify">修改兴趣</a>
    </div>

    <!-- 精品推荐课程 -->
    <div class="course wrapper">
        <!-- 标题 -->
        <div class="hd">
            <h3 id="aa">数码电器</h3>
            <a :href="'/shoppingcenter.html?type='+'数码电器'" class="more">查看全部</a>

        </div>
        <!-- 内容 -->
        <div class="bd">
            <ul>
                <li v-for="p in product">
                    <a :href="'/detail.html?id='+p.id">
                        <div class="pic"><img :src="p.url" alt=""></div>
                        <div class="text">
                            <h4>{{p.title}}</h4>
                            <p><span>浏览量</span> . <i>{{p.viewCount}}</i></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 家用百货 -->
    <div class="course wrapper">
        <!-- 标题 -->
        <div class="hd">
            <h3 id="bb">家用百货</h3>
            <a :href="'/shoppingcenter.html?type='+'家用百货'" class="more">查看全部</a>

        </div>
        <!-- 内容 -->
        <div class="bd">
            <!-- 标题 -->

            <ul>
                <li v-for="pp in product1">
                    <a href="#">
                        <div class="pic"><img :src="pp.url" alt=""></div>
                        <div class="text">
                            <h4>{{pp.title}}</h4>
                            <p><span>浏览量</span> . <i>{{pp.viewCount}}</i></p>
                        </div>
                    </a>
                </li>
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <div class="pic"><img src="./uploads/course01.png" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h4>JavaScript数据看板项目实践</h4>-->
<!--                            <p><span>高级</span> . <i>1125人在学习</i></p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <div class="pic"><img src="./uploads/course01.png" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h4>JavaScript数据看板项目实践</h4>-->
<!--                            <p><span>高级</span> . <i>1125人在学习</i></p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <div class="pic"><img src="./uploads/course01.png" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h4>JavaScript数据看板项目实践</h4>-->
<!--                            <p><span>高级</span> . <i>1125人在学习</i></p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <div class="pic"><img src="./uploads/course01.png" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h4>JavaScript数据看板项目实践</h4>-->
<!--                            <p><span>高级</span> . <i>1125人在学习</i></p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <div class="pic"><img src="./uploads/course01.png" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h4>JavaScript数据看板项目实践</h4>-->
<!--                            <p><span>高级</span> . <i>1125人在学习</i></p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <div class="pic"><img src="./uploads/course01.png" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h4>JavaScript数据看板项目实践</h4>-->
<!--                            <p><span>高级</span> . <i>1125人在学习</i></p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <div class="pic"><img src="./uploads/course01.png" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h4>JavaScript数据看板项目实践</h4>-->
<!--                            <p><span>高级</span> . <i>1125人在学习</i></p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <div class="pic"><img src="./uploads/course01.png" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h4>JavaScript数据看板项目实践</h4>-->
<!--                            <p><span>高级</span> . <i>1125人在学习</i></p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <div class="pic"><img src="./uploads/course01.png" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h4>JavaScript数据看板项目实践</h4>-->
<!--                            <p><span>高级</span> . <i>1125人在学习</i></p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        <div class="pic"><img src="./uploads/course01.png" alt=""></div>-->
<!--                        <div class="text">-->
<!--                            <h4>JavaScript数据看板项目实践</h4>-->
<!--                            <p><span>高级</span> . <i>1125人在学习</i></p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>

    <!-- 页脚页面 -->
    <div style="background-color: gainsboro">
        <footer class="page-footer wrapper">
            <div style="margin: 0 auto;width: 620px;height: 400px;">
                <div style="float: left;margin-top: 150px;">
                <span>
                    版权所有 | 重庆邮电大学 | 重庆市南岸区崇文路2号 | 400065 |
                    <a href="http://www.beian.miit.gov.cn" target="_blank" style="color:white"> 渝ICP备：17002788号-1</a>
                </span>
                    <div style="width:300px;margin:0 auto; padding:20px 0;">
                        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50010802001309" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                            <img src="http://www.cqupt.edu.cn/dfiles/13011/cqupt/img/beian.jpg" style="float:left;">
                            <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#ffffff;">渝公网安备 50010802001309号</p>
                        </a>
                    </div>
                </div>
                <div style="float: left">
                <span id="_ideConac">
                <a target="_blank" href=http://bszs.conac.cn/sitename?method=show&id=350F2D90137E424BE053022819AC0266">
                <!-- <img id="imgConac" vspace="0" hspace="0" border="0" src="http://www.cqupt.edu.cn/bszs.conac.cn/sitename?method=show&amp;id=350F2D90137E424BE053022819AC0266" data-bd-imgshare-binded="1"> -->
                </a>
                </span>
                </div>
            </div>
        </footer>
    </div>
</div>
   <script src="js/vue.js"></script>
   <script src="js/eui.js"></script>
   <script src="js/axios.min.js"></script>
    <script>
        let v= new Vue({
            el:'#app',
            data:function () {
                return {
                    banner:[],
                    product:[],
                    users:"",
                    wd:"",
                    product1:[]
                }
            },
            created: function () {
                axios.get("banner/select").then(function (response) {
                    v.banner=response.data;
                })
                axios.get("product/select").then(function (response) {
                    v.product=response.data;
                })
                axios.get("product1/select").then(function (response) {
                    v.product1 = response.data;
                })
                let id=location.search.split("=")[1]
                axios.get("users/select?id="+id).then(function (response) {
                    v.users=response.data;
                })
                let  wd1=location.search.split("=")[1]
                axios.get("item/select?wd1="+wd1).then(function (response) {
                    v.item=response.data;
                })

            },
            methods:{
                search() {
                    location.href="/result.html?wd="+v.wd;
                }
            }
        })
    </script>
</body>
</html>