<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <link rel="stylesheet" href="css/eui.css">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>插入商品</title>-->
<!--</head>-->
<!--<body>-->
<!--<div id="app">-->
<!--    <el-page-header style="background-color: #0095d7; color: white; line-height: 60px"-->
<!--                    @back="goBack()" content="发布商品页面">-->

<!--    </el-page-header>-->
<!--    &lt;!&ndash;&#45;&#45;分割线&#45;&#45;&ndash;&gt;-->
<!--    <el-divider></el-divider>-->
<!--    <el-card>-->
<!--        <el-form>-->
<!--            <el-form-item label="商品标题" label-width="80px">-->
<!--                <el-input v-model="product.title"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="价格" label-width="80px">-->
<!--                <el-input v-model="product.price"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="原价" label-width="80px">-->
<!--                <el-input v-model="product.oldPrice"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="销量" label-width="80px">-->
<!--                <el-input v-model="product.saleCount"></el-input>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="分类" label-width="80px">-->
<!--                <template>-->
<!--                    <el-select v-model="product.categoryID" placeholder="请选择">-->
<!--                        <el-option v-for="c in category"-->
<!--                                   :label="c.name"-->
<!--                                   :value="c.id"-->
<!--                        ></el-option>-->
<!--                    </el-select>-->
<!--                </template>-->
<!--            </el-form-item>-->
<!--            <el-form-item label="商品图片" label-width="80px">-->
<!--                <el-upload-->
<!--                        action="/upload"-->
<!--                        name="picFile"-->
<!--                        :limit="1"-->
<!--                        list-type="picture-card"-->
<!--                        :on-preview="handlePreview"-->
<!--                        :on-success="handleSuccess"-->
<!--                        :on-remove="handleRemove">-->
<!--                    <i class="el-icon-upload"></i>-->
<!--                </el-upload>-->
<!--                <el-dialog :visible.sync="dialogVisible">-->
<!--                    <img width="100%" src="dialogImageUrl" alt="">-->
<!--                </el-dialog>-->
<!--            </el-form-item>-->
<!--        </el-form>-->
<!--        <el-button @click="insert()">发布</el-button>-->
<!--    </el-card>-->
<!--</div>-->
<!--<script src="js/vue.js"></script>-->
<!--<script src="js/eui.js"></script>-->
<!--<script src="js/axios.min.js"></script>-->
<!--<script>-->
<!--    let v = new Vue({-->
<!--        el:"#app",-->
<!--        data:function () {-->
<!--            return {-->
<!--                dialogImageUrl:'',-->
<!--                dialogVisible:false,-->
<!--                product: {-->
<!--                    title:"",-->
<!--                    url:"",-->
<!--                    price:"",-->
<!--                    oldPrice:"",-->
<!--                    saleCount:"",-->
<!--                    categoryID:"",-->
<!--                },-->
<!--                category:[],-->
<!--            }-->
<!--        },-->
<!--        methods: {-->
<!--            handleRemove(file) {-->
<!--                //删除文件时的操作-->
<!--                axios.get("/remove?name="+file.response).then(function (response) {-->
<!--                    console.log("服务器的图片已经删除")-->
<!--                })-->
<!--            },-->
<!--            handlePreview(file) {-->
<!--                //上传文件时的操作-->
<!--                this.dialogImageUrl = file.url;-->
<!--                this.dialogVisible = true;-->
<!--            },-->
<!--            insert() {-->
<!--                if(v.product.url == null) {-->
<!--                    alert("图片不能为空")-->
<!--                    return;-->
<!--                }-->
<!--                axios.post("/product/insert", v.product).then(function (response) {-->
<!--                    alert("上传成功")-->
<!--                    location.href="admin.html"-->
<!--                })-->
<!--            },-->
<!--            handleSuccess(response) {-->
<!--                v.product.url = response;-->
<!--            },-->
<!--            goBack() {-->
<!--                // history.back();-->
<!--                location.href="admin.html"-->
<!--            },-->
<!--        },-->
<!--        created: function () {-->
<!--            axios.get("/category/select").then(function (response) {-->
<!--                v.category = response.data;-->
<!--            })-->
<!--        }-->
<!--    })-->
<!--</script>-->
<!--</body>-->

<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生添加界面</title>
    <link rel="stylesheet" href="css/eui.css">
</head>
<body>
<!--页面头部组件-->
<div id="app">
    <el-page-header style="background-color: #0095d7; color: white; line-height: 60px"
                    @back="goBack" content="学生添加页面">

    </el-page-header>
    <!--        分割线-->
    <el-divider></el-divider>
    <el-card>
        <el-form>
            <el-form-item label="姓名" label-width="80px">
                <el-input v-model="student.username"></el-input>
            </el-form-item>
            <el-form-item label="学号" label-width="80px">
                <el-input v-model="student.idcard"></el-input>
            </el-form-item>
            <el-form-item label="性别" label-width="80px">
<!--                <el-input v-model="student.sex"></el-input>-->

                    <el-select v-model="student.sex" placeholder="请选择">
                        <el-option label="男" value="男" ></el-option>
                        <el-option label="女" value="女" ></el-option>
                    </el-select>
            </el-form-item>
<!--            <el-form-item label="活动区域">-->
<!--                <el-select v-model="form.region" placeholder="请选择活动区域">-->
<!--                    <el-option label="区域一" value="shanghai"></el-option>-->
<!--                    <el-option label="区域二" value="beijing"></el-option>-->
<!--                </el-select>-->
<!--            </el-form-item>-->
            <el-form-item label="密码设置" label-width="80px">
                <el-input v-model="student.password"></el-input>
            </el-form-item>
            <el-form-item>
                <span class="sp">宿舍：</span>
                <el-input class="in" type="text" @keydown-native-enter="regist()"
                          placeholder="宿舍名称" v-model="student.dormitory">
                </el-input>
            </el-form-item>
            <el-form-item>
                <span class="sp">电话：</span>
                <el-input class="in" type="text" @keydown-native-enter="regist()"
                          placeholder="请输入电话" v-model="student.phone">
                </el-input>
            </el-form-item>
            <!--            <el-form-item label="分类" label-width="80px">-->
            <!--                <template>-->
            <!--                    <el-select v-model="product.categoryId" placeholder="请选择">-->
            <!--                        <el-option v-for="c in categorarr"-->
            <!--                                   :label="c.name"-->
            <!--                                   :value="c.id"></el-option>-->
            <!--                    </el-select>-->
            <!--                </template>-->
            <!--            </el-form-item>-->
            <el-form-item label="学生照片" label-width="80px">
                <el-upload
                        action="/upload"
                        name="picFile"
                        :limit="1"
                        list-type="picture-card"
                        :on-preview="handlePreview"
                        :on-success="handleSuccess"
                        :on-remove="handleRemove">
                    <i class="el-icon-upload"></i>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                    <img width="100%" src="dialogImageUrl" alt="">
                </el-dialog>
            </el-form-item>
        </el-form>
        <el-button @click="insert()">发布</el-button>
    </el-card>
</div>
<script src="js/vue.js"></script>
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script>
    let v= new Vue({
        el:'#app',
        data:function () {
            return{
                dialogImageUrl:'',
                dialogVisible:false,
                student:{
                    username:'',
                    idcard:'',
                    sex:'',
                    password:'',
                    url:'',
                    dormitory: '',
                    phone: ''
                    // title:'',
                    // url:'',
                    // price:'',
                    // oldPrice:'',
                    // saleCount:'',
                    // categoryId:'',
                },
                //categorarr:[]
            }
        },
        methods: {
            handleRemove(file) {
                //删除文件的时候的操作
                axios.get("/remove?name="+file.response).then(function (response) {
                    console.log("服务器的图片已删除")
                })
            },
            handlePreview(file) {
                //在上传文件时的操作
                this.dialogImageUrl=file.url;
                this.dialogVisible=true;
            },
            insert() {
                if(v.student.url=='') {
                    alert("图片不能为空")
                    return;
                }
                axios.post("/student/insert",v.student).then(function (){
                    alert("上传成功")
                    location.href="admin.html"
                })
            },
            handleSuccess(response) {
                v.student.url=response;
            },
            goBack() {
                location.href="admin.html"
            },

        },
        // created:function () {
        //     //页面一创造既要执行的方法
        //     axios.get("/category/select").then(function (response){
        //         v.categorarr=response.data;
        //     })
        // }
    })
</script>
</body>
</html>