<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>重邮小世界</title>
    <!-- 先清除在设置 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
        body {
            margin: 0;
        }

        header a {
            text-decoration: none;
            color: #6c6c6c;
        }

        header a:hover {
            color: #0095d7;
        }

        .p_img {
            position: relative;
            bottom: 5px;
            box-shadow: 0 0 10px 5px #333;
        }
    </style>

</head>
<body>
<div id="app">
    <!-- 头部区域 -->
    <div class="header">
        <div class="wrapper">
            <!-- logo -->
            <div class="logo"><h1><a href="http://www.cqupt.edu.cn/">重邮小世界</a></h1></div>
            <!-- 导航 -->
            <div class="nav">
                <ul>
                    <li><a href="index.html" class="active">首页</a></li>
                    <li><a href="#">校园购</a></li>
                    <li><a href="#">校园趣事</a></li>
                </ul>
            </div>
            <!-- 搜索 -->
            <div class="search">
                <input type="text" name="" id="" placeholder="请输入关键词">
                <input type="button" @click="search()" class="anniu">
                <!--            <a href="#"></a>-->
            </div>
            <!-- 用户 -->
            <div class="user">
                <a href="#">
                    <img src="./uploads/user.png" alt="">
                    <span>冒充</span>
                </a>
            </div>
        </div>
    </div>

    <el-main style="width: 1000px;margin: 0 auto">
        <el-row :gutter="20">
            <el-col :span="18">
                <!--轮播图开始-->
                <el-carousel height="500px">
                    <el-carousel-item v-for="p in product">
                        <img :src="p.url" style="width: 800px;height: 500px" alt="">
                    </el-carousel-item>
                </el-carousel>
                <!--走马灯结束-->
            </el-col>
            <el-col span="6">
                <!---销量排行榜-->
                <el-card style="height: 500px">
                    <h3>
                        <i style="font-weight: bold"
                           class="el-icon-trophy"></i>
                        销量最高</h3>
                    <divider></divider>
                    <el-table :data="toparr" style="width: 500px">
                        <el-table-column label="排名" type="index" width="50px">
                        </el-table-column>
                        <el-table-column label="商品名">
                            <template slot-scope="scope">
                                <a :href="'/detail.html'" style="text-decoration: none;
                              color: red"> {{scope.row.title}}</a>
                            </template>
                        </el-table-column>
                        <el-table-column label="销量" prop="saleCount"></el-table-column>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>
        <!--排行榜结束-->
        <!--商品列表开始-->
        <el-row :gutter="20">
            <el-col span="6" v-for="p in product">
                <el-card>
                    <div>
                        <a :href="'/detail.html?id='+p.id"><img class="p_img" :src="p.url" width="230"
                                                                height="230" alt="">
                        </a>
                    </div>
                    <div>
                        <a style="color: #0095d7;text-decoration: none" :href="'/detail.html?id='+p.id">
                            <p style="font-size: 15px;margin-top: 0;height: 30px">
                                {{p.title}}
                            </p>
                        </a>
                        <div style="color: #6c6c6c">
                            <span>￥{{p.price}}</span>
                            <span style="font-size: 12px;text-decoration: line-through">
                                    {{p.oldPrice}}
                                </span>
                            <span style="float: right">销量:{{p.saleCount}}</span>
                        </div>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </el-main>
    <!-- 页脚页面 -->
    <div style="background-color: gainsboro">
        <footer class="page-footer wrapper">
            <div style="margin: 0 auto;width: 620px;height: 400px;">
                <div style="float: left;margin-top: 150px;">
                <span>
                    版权所有 | 重庆邮电大学 | 重庆市南岸区崇文路2号 | 400065 |
                    <a href="http://www.beian.miit.gov.cn" target="_blank" style="color:white"> 渝ICP备：17002788号-1</a>
                </span>
                    <div style="width:300px;margin:0 auto; padding:20px 0;">
                        <a target="_blank"
                           href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50010802001309"
                           style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                            <img src="http://www.cqupt.edu.cn/dfiles/13011/cqupt/img/beian.jpg" style="float:left;">
                            <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#ffffff;">
                                渝公网安备 50010802001309号</p>
                        </a>
                    </div>
                </div>
                <div style="float: left">
                <span id="_ideConac">
                <a target="_blank" href=http://bszs.conac.cn/sitename?method=show&id=350F2D90137E424BE053022819AC0266">
                <!-- <img id="imgConac" vspace="0" hspace="0" border="0" src="http://www.cqupt.edu.cn/bszs.conac.cn/sitename?method=show&amp;id=350F2D90137E424BE053022819AC0266" data-bd-imgshare-binded="1"> -->
                </a>
                </span>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="js/vue.js"></script>
<script src="js/eui.js"></script>
<script src="js/axios.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                product:[],
                toppar:[],
            }
        },
        created: function () {

            axios.get("product/select").then(function (response){
                v.product=response.data;
            })

        }
    })
</script>
</body>
</html>